*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter Tight', sans-serif;
    color: whitesmoke;
    background-image: url(../img/inicial.png);
}

header{
    width: 100%;
    height: 12%;
    background-color: #F4A45B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    font-size: xx-large;
    font-weight: 600;
}

.main{
    width: 100%;
    height: 88%;
    display: flex;
    gap: 3%;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: auto;
}

.adicionar{
    background-color: #F4A45B;
    cursor: pointer;
}
.add_task{
    display: flex;
    flex-direction: row;
    place-items: center;
}

.tarefa{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 20%;
    background-color: #f4a55bb2;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;

}

img{
    cursor: pointer;
}

.editar{
    width: 5%;
}
.excluir{
    width: 5%;
}
.comentar{
    width: 5%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4%;
    width: 100%;
    height: 100%;
    font-family: 'Inter Tight', sans-serif;
    color: whitesmoke;
}
.form input{
    width: 100%;
    height: 15%;
    border-radius: 10px;
    font-size: larger;
    border-color: transparent;
    opacity: 50%;
    outline: 0;
}

.criar_tarefa{
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 60%;
    background-color: #F4A45B;
    border-radius: 40px;
}

.button_criar{
    margin-top: 3%;
    border-color: transparent;
    background-color:#ff8a2c;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 10px;
    width: 100%;
    height: 15%;
    cursor: pointer;
}

.editar_tarefa{
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50%;
    background-color: #F4A45B;
    border-radius: 40px;
}

.button_editar{
    margin-top: 3%;
    border-color: transparent;
    background-color:#ff8a2c;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 10px;
    width: 100%;
    height: 15%;
    cursor: pointer;
}

.comentarios{
    display: flex;
    flex-direction: column;
    position: absolute;
    place-self: center;
    background-color:#faa660;
    border-style: solid;
    border-radius: 10px;
    width: 50%;
    height: 80%;
    justify-content: space-between;
}

.comentarios-layout{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 19%;
    padding: 3%;
    border-radius: 6px;
    border-color:#7a7879b7;
    border-style: solid;
    place-items: top;
    gap: 8% ;
}

.comentario{
    height: 100%;
    width: 100%;
    font-size: larger;
    border-color: transparent;
    opacity: 50%;
    outline: 0;
    padding-left: 5%;
}

.comment_input{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
}

.enviar{
    width: 6%;
    position: absolute;
    right: 2%;
    place-self: center;
}

.foto_perfil{
    width: 9%;
    height: 100%;
    border-radius: 100%;
}

.infos{
    display: flex;
    flex-direction: column;
    place-content: center;
    width:90%;
    height: 90%;
}
.texto{
    text-align: justify;
    font-size: large;
    font-weight: 600;
}

.usuario-data{
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-size: medium;
    color: papayawhip;
}

#close{
    display: none;
    position:absolute;
    top: 16%;
    left: 18%;
}