*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #F9D99B;
}

header{
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Inter Tight', sans-serif;
    color: whitesmoke;
    letter-spacing: .3vw;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    width: 25vw;
    height: 10vh;
    background-color: #F4A45B;
}

main{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border-radius: 40px;
    width: 30%;
    height: 80%;
    background-color: #F4A45B;
    font-family: 'Inter Tight', sans-serif;
    color: whitesmoke;
}

.form input{
    width: 50%;
    border-color: transparent;
    opacity: 50%;
    outline: 0;
}

#password{
    margin-bottom: 6%;
}

.button_login{
    border-color: transparent;
    background-color:#ff8a2c;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 30px;
    width: 26%;
    height: 12%;
}
 